$primaryColor: #ff0000;
$secondaryColor: rgb(103, 103, 103);
$redColor: #f0506e;
$bodyColor: rgb(50, 50, 50);
$backgroundColor: white;
$animationTimer: 350ms;
$font: arial;
$fontSize: 13px;
$warning: #ffb22b;
$success: #26c6da;
$lightGrey: rgb(230, 230, 230);
